<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
<h1> About {{name}}: </h1>

    <br>
    <p> My name is Joshua and I am a child of god. I am passionate about coding
        and I enjoy solving problems.             </p>

    <p> What mostly motivates me is the feeling of winning , It keeps me alive
        and is the fuel that keeps me going. </p>

    <p> I have completed a Software Engineering bootcamp and have equiped myself
        with the necessary skills to bring and add value to your business as
        this is the line of work I want to pursue in.
       </p>


</body>
</html>